* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #8a8a8a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  background-color: #e9e9e9;
  width: 400px;
}
.headline {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1.3rem 2rem;
}
.form-content {
  padding: 1rem;
}
.input-group {
  margin-bottom: 0.7rem;
  position: relative;
}
.input-group label,
.input-group input, 
.input-group small {
  display: block;
  width: 100%;
}
.input-group input {
  padding: 0.5rem;
  font-size: 1.2rem;
  
}
.fa-exclamation-circle {
  position: absolute;
  right: 0.5rem;
  top: 2.1rem;
  color: #eb4062;
  visibility: hidden;
}
.fa-check-circle {
  position: absolute;
  right: 0.5rem;
  top: 2.1rem;
  color: #30bd5f;
  visibility: hidden;
}
.input-group small,
.input-group-check small {
  color: #eb4062;
  visibility: hidden;
}
.input-group-check small {
  display: block;
}
.input-group button {
  width: 100%;
  background: #333;
  color: #fff;
  padding: 0.7rem;
  text-transform: uppercase;
  border: none;
  margin-top: 0.6rem;
}
.error input {
  border: 1px solid #eb4062;
  outline: 1px solid #eb4062;
}
.error .fa-exclamation-circle,
.error small {
  visibility: visible;
}
.success input {
  border: 1px solid #30bd5f;
  outline: 1px solid #30bd5f;
}
.success .fa-check-circle {
  visibility: visible;
}
#toc {
  border: none;
  outline: none;
}